.cart-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-bottom: 1px solid #e8e8e8;
  height: 100px;
  width: 215px;
  background-color: white;
}

.cart-item-image {
  width: 80px; /* Adjust the width as needed */
  height: 87px;
  object-fit: contain;
}

.cart-item-details {
  display: flex;
  flex-direction: column;
}

.cart-item-name-details {
  font-size: 13.5px;
  font-weight: 500;
}

.cart-item-size-details {
  font-size: 12px;
}
