@font-face {
  font-family: barlow1;
  src: url(../assets/BarlowCondensed-Medium.ttf);
}
.barlow1 {
  font-family: barlow1;
}
.nav-container {
  display: flex;
  justify-content: center;

  background-color: #fff;
  padding: 10px;
  height: 100px;
  width: 100%;
  position: fixed;
  z-index: 1000;
  border-bottom: 1px solid #eadbdb;
}
.leftside {
  width: 182px;
  height: 22px;
  position: absolute;
  margin-top: 8px;
  margin-left: 15px;
  left: 0px;
  align-items: center;
  display: flex;
}
.place {
  height: 14px;
  width: 14px;
}
.vietnam {
  margin-left: 6px;
}
.phone {
  height: 14px;
  width: 14px;
  margin-left: 12px;
}
.number {
  margin-left: 6px;
}
.rightside {
  width: 182px;
  height: 22px;
  position: absolute;
  margin-top: 8px;
  margin-right: 2px;
  right: 0px;
  align-items: center;
  display: flex;
}
.user {
  height: 14px;
  width: 14px;
}
.taikhoan {
  margin-left: 6px;
  margin-right: 6px;
}
.cart {
  height: 14px;
  width: 14px;
  margin-left: 12px;
}
.giohang {
  margin-left: 6px;
}
.nav-logo {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 20px;
  height: 100px;
  width:200px;


}
.nav-middle-text{
  font-size: 22px;
}
.nav-small-logo{
  width: 150px;
  height: 100px;
  object-fit: contain;


}